.footer {
  background-color: #F5F7F8;
  padding: 1.75em 1.125em;
}

.contacts {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  margin-left: 1em;

  &__phone {
    margin-bottom: 0.25em;
    font-size: 0.875rem;
    font-weight: 700;
    color: #3A444E;
  }

  &__info {
    margin-bottom: 1em;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 0.875rem;
  }
}

.copyright {
  color: #3A444E;
  margin-left: 1.125em;
}
