h1 {
  margin-bottom: 1.25em;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.375rem;
  text-align: center;
  color: #3A444E;
}

.services {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 0.875em;
  text-align: center;
  margin: 1em 0.75em 1.8125em 0.75em;
  min-height: 40px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.08);
  border-radius: 100px;
  background-color: #FFF;

  .service__link {
    margin: 1em 0.75em 1.8125em 0.75em;
    display: block;
    color: #3A444E;
    transition: 1.5s;
    word-wrap: inherit;

    &:focus {
      background: linear-gradient(292.85deg, #3A444E 1.13%, rgba(58, 68, 78, 0.78) 98.35%);
      color: #FFF;
      width: 130px;
      min-height: 40px;
      border-radius: 100px;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 284px;
  margin: 0 auto;
  min-height: 100%;
  overflow: hidden;
}

.main {
  flex: 1 1 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1.25em;
  border-bottom: 1px solid #D0D5DB80;
  min-height: 52px;

  .menu {
    margin: 0.75em 1em;
  }

  .logo {
    margin: 0.67em 0.75em;
  }
}

.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  background-color: #F5F7F8;
  border-radius: 1.875em;

  .input {
    margin-left: 26px;
    margin-right: 10px;
    margin-bottom: 0.875em;
    width: 248px;
    height: 52px;
    font-size: 14px;
    font-weight: 400;
  }

  .error {
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 0.875rem;
    color: #F33F18;
    margin-left: 30px;
    margin-bottom: 11px;
  }

  .confirmation {
    font-size: 12px;
    font-weight: 700;
    line-height: 0.875rem;
    margin-bottom: 2.4825em;
    margin-left: 26px;
  }

  .terms {
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 0.875rem;
    text-decoration: underline;
    color: #3A444E;

    &:visited {
      color: #3A444E;
    }
  }

  .submit {
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 0.875rem;
    text-align: center;
  }
}

.btn {
  background-color: #00B1AB;
  height: 52px;
  width: 80%;
  border-radius: 42px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 19px;
  text-align: center;
  color: #FFF;
  margin-bottom: 1.125em;
  transition: .9s;

  &:disabled {
    background-color: #D0D5DB;
  }

  &:hover {
    background: linear-gradient(180deg, #00B1AB 0%, #00827D 100%);
  }
}

.footer {
  background-color: #F5F7F8;
  padding: 28px 18px;
}

.copyright {
  color: #3A444E;
}

.contacts {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.75em;

  &__phone {
    margin-bottom: 0.25em;
    font-size: 0.875rem;
    font-weight: 700;
    color: #3A444E;

  }

  &__info {
    margin-bottom: 1em;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
  }
}
