<app-header></app-header>
<main class="container main">
  <h1 class="title">Проверка счета</h1>
  <form [formGroup]="checkForm" (ngSubmit)="onSubmit()" class="form">
    {{checkForm.value | json }}
    <nav class="services__menu">
      <ul class="services__list">
        <li class="services__item"><a routerLinkActive="active" routerLink="/about" href="#" class="service__link ">
          О сервисе</a></li>
        <li class="services__item">
          <a routerLinkActive="active" routerLink="/check-form" [routerLinkActiveOptions]="{exact: true}" href="#"
             class="service__link active">
            Проверить счет</a></li>
      </ul>
    </nav>
    <label>
      <input formControlName="bic" class="form__input bic" placeholder="БИК">
    </label>
    <ng-container *ngIf=" checkForm.get('bic') as bicCtrl">
      <span *ngIf=" bicCtrl.invalid && (bicCtrl.dirty || bicCtrl.touched )" class="error">{{bicCtrl.errors?.bic?.message}}
      </span>
    </ng-container>
    <label>
      <input formControlName="paymentAccount" class="form__input payment-account" placeholder="Расчётный счёт">
    </label>
    <span *ngIf="checkForm.invalid && (checkForm.dirty || checkForm.touched )"
          class="error">Указан неверный номер счета!</span>
    <label class="form__confirm">
      <input formControlName="accept" class="form__checkbox" type="checkbox">
      Согласен с
      <div class="tooltip">
        <span class="accent__letter">условиями</span>
        <span class="tooltip-text terms">{{tooltipText}}</span>
      </div>
    </label>
    <input [disabled]="checkForm.invalid" class="btn" type="submit" value="Проверить">
  </form>
</main>
<app-footer></app-footer>
